.transmitter {
  display: flex;
  flex-direction: column;

  .value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: translateY(25%);
    opacity: 0;
    z-index: -1;
    transition: 1s;

    &.counter {
      font-size: 60px;
    }

    &.show {
      transform: translateY(0);
      opacity: 1;
    }

    .svg-inline--fa {
      padding-left: 0.25em;
      font-size: 40px;
    }
  }
}
