.listener {
  .value {
    padding: 0.25em;
    transition: 1s;

    &.valid {
      border: 1px solid green;
      background: lightgreen;
      color: green
    }
  }

  .status {
    padding: 0.5em;
    border-width: 2px;

    &.Unlocked {
      border-style: dashed;
      border-color: green;
      color: green;
      background: lightgreen;
    }

    &.Locked {
      border-style: solid;
      border-color: gray;
      color: gray;
      background: #ddd;
    }
  }
}
