@import "../../variables";

.pair {
  background-color: $pairBackgroundColor;

  &.kiosk {
    background-color: $pairKioskBackgroundColor;
  }

  .controlBar {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: #eee;
  }

  .devices {
    display: flex;
    flex-direction: row;
    justify-content: center;

    > div {
      padding: 1em;
      transition: 1s;
    }

    &.outOfRange {
      > div:first-child {
        transform: translateX(-75%);
      }
      > div:last-child {
        transform: translateX(75%);
      }
    }
  }
}
